In [30]:
import pandas as pd
import numpy as np
import os

In [31]:
myList = ['Brandon', 'Machine Learing/Data Science/Data Engineering', '43', 'Dallas, Tx']
labels = ['Name', 'Specialization', 'age', 'Location']
new_series = pd.Series(myList, labels)
print(new_series)

Name                                                    Brandon
Specialization    Machine Learing/Data Science/Data Engineering
age                                                          43
Location                                             Dallas, Tx
dtype: object

In [32]:
pd.Series(myList)

0                                          Brandon
1    Machine Learing/Data Science/Data Engineering
2                                               43
3                                       Dallas, Tx
dtype: object

In [33]:
my_dictionary = {'Name':'Brandon', 'Specialization': 'Machine Learning/Data Science/Data Engineering', 'Age': '43', 'Location': 'Dallas, Tx'}
my_series = pd.Series(my_dictionary)
print(my_series)

Name                                                     Brandon
Specialization    Machine Learning/Data Science/Data Engineering
Age                                                           43
Location                                              Dallas, Tx
dtype: object

In [34]:
print(my_series['Name'])
print(my_series['Specialization'])
print(my_series['Age'])

Brandon
Machine Learning/Data Science/Data Engineering
43

In [51]:
print(os.getcwd())

C:\Users\htu\OneDrive - AL-Hussien bin Abdullah Technical University\Desktop\labs

In [65]:
os.listdir(os.getcwd())

['.ipynb_checkpoints',
 '1.1_1Dtensors_v2.ipynb',
 '1.1_2 Two-Dimensional Tensors_v2.ipynb',
 '1.3.1_simple_data_set_v2.ipynb',
 '1.3.2_Datasets_and_transforms.ipynb',
 '2.1Prediction1Dregression_v3.ipynb',
 '2.2_linear_regression_one_parameter_v3.ipynb',
 '2.3_training_slope_and_bias_v3.ipynb',
 '3.1_stochastic_gradient_descent_v3.ipynb',
 '3.2_mini-batch_gradient_descent_v3.ipynb',
 '3.3.1 softmax_in_one_dimension_v2.ipynb',
 '3.3.2 lab_predicting _MNIST_using_Softmax_v2.ipynb',
 '3.3_PyTorchway_v3.ipynb',
 '3.6_training_and_validation_v3.ipynb',
 '4.1.1simple1hiddenlayer_v2.ipynb',
 '4.1.2xor_v2.ipynb',
 '4.1.3.one layer neural network _MNIST.ipynb',
 '4.1.multiple_linear_regression_prediction_v2 (1).ipynb',
 '4.2.multiple_linear_regression_training_v2.ipynb',
 '4.3.1lactivationfuction_v2.ipynb',
 '4.3.2mist1layer_v2.ipynb',
 '4.3.multi-target_linear_regression (1).ipynb',
 '4.4.training_multiple_output_linear_regression.ipynb',
 '5.1logistic_regression_prediction_v2.ipynb',
 '5.2.2bad_inshilization_logistic_regression_with_mean_square_error_v2.ipynb',
 '5.3_cross_entropy_logistic_regression_v2.ipynb',
 '5.4softmax_in_one_dimension_v2.ipynb',
 '6.2lab_predicting _MNIST_using_Softmax_v2.ipynb',
 '7.1_simple1hiddenlayer.ipynb',
 '7.2multiple_neurons.ipynb',
 '7.3xor_v2.ipynb',
 '7.4one_layer_neural_network_MNIST.ipynb',
 '7.5.1activationfuction_v2.ipynb',
 '8.1.1mist2layer_v2.ipynb',
 '8.1.2mulitclassspiralrulu_v2.ipynb',
 '8.2.1dropoutPredictin_v2.ipynb',
 '8.2.2dropoutRegression_v2.ipynb',
 '8.3.1.initializationsame.ipynb',
 '8.3.2Xaviermist1layer_v2.ipynb',
 '8.4.1_MomentumwithPolynomialFunctions_v2.ipynb',
 '8.4.2_NeuralNetworkswithMomentum_v2.ipynb',
 '8.5.1BachNorm_v2.ipynb',
 '9.1What_is_Convolution.ipynb',
 '9.2Activation_max_pooling.ipynb',
 '9.3Multiple Channel Convolution.ipynb',
 '9.4.1ConvolutionalNeralNetworkSimple example.ipynb',
 '9.4.2CNN_Small_Image.ipynb',
 '9.4.3CNN_Small_Image_batch.ipynb',
 'a_tfstart.ipynb',
 'Coursera-IBM-AI-Engineering-Capstone-master',
 'Coursera-IBM-AI-Engineering-Capstone-master.zip',
 'da4e06fbc7da73da9951e6288be23332-03d99c1b604af95ea654d3a55db4de0bdf96f397',
 'da4e06fbc7da73da9951e6288be23332-03d99c1b604af95ea654d3a55db4de0bdf96f397.zip',
 'data',
 'DL0321EN-1-1-Loading-Data-py-v1.0.ipynb',
 'DL0321EN-2-1-Data-Preparation-py-v1.0.ipynb',
 'DL0321EN-4-1-Comparing-Models-py-v1.0.ipynb',
 'ML0120EN-1.1-Review-TensorFlow-Hello-World.ipynb',
 'ML0120EN-1.2-Review-LinearRegressionwithTensorFlow.ipynb',
 'ML0120EN-1.4-Review-LogisticRegressionwithTensorFlow.ipynb',
 'ML0120EN-2.1-Review-Understanding_Convolutions.ipynb',
 'ML0120EN-2.2-Review-CNN-MNIST-Dataset.ipynb',
 'ML0120EN-3.1-Reveiw-LSTM-basics.ipynb',
 'ML0120EN-3.2-Review-LSTM-LanguageModelling.ipynb',
 'ML0120EN-4.1-Review-RBMMNIST.ipynb',
 'ML0120EN-4.2-Review-CollaborativeFilteringwithRBM.ipynb',
 'ML0120EN-5.1-Review-Autoencoders.ipynb',
 'PandasPracticeFile.csv',
 'Python_Basics_With_Numpy_v3a.ipynb',
 'Untitled.ipynb',
 'Untitled1.ipynb']

In [69]:
df = pd.read_csv('PandasPracticeFile.csv')

In [73]:
df.head()

          Full Name User Action              Timestamp
0  Brandon.Copeland      Joined  6/2/2020, 11:56:46 AM
1          Mohammad      Joined  6/2/2020, 11:56:59 AM
2             suhib      Joined  6/2/2020, 11:57:17 AM
3             AHMAD      Joined  6/2/2020, 11:57:22 AM
4          AbdAllah      Joined  6/2/2020, 11:58:02 AM

In [74]:
df.tail()

   Full Name User Action              Timestamp
45     ammar        Left  6/2/2020, 12:19:36 PM
46     ammar      Joined  6/2/2020, 12:19:39 PM
47     Ahmed      Joined  6/2/2020, 12:25:34 PM
48     Ahmed        Left  6/2/2020, 12:25:35 PM
49     Ahmed      Joined  6/2/2020, 12:51:06 PM

In [76]:
df.shape

(50, 3)

In [78]:
df.isnull().head()

   Full Name  User Action  Timestamp
0      False        False      False
1      False        False      False
2      False        False      False
3      False        False      False
4      False        False      False

In [79]:
df.isnull().sum()

Full Name      0
User Action    0
Timestamp      0
dtype: int64

In [80]:
df.info

<bound method DataFrame.info of            Full Name User Action              Timestamp
0   Brandon.Copeland      Joined  6/2/2020, 11:56:46 AM
1           Mohammad      Joined  6/2/2020, 11:56:59 AM
2              suhib      Joined  6/2/2020, 11:57:17 AM
3              AHMAD      Joined  6/2/2020, 11:57:22 AM
4           AbdAllah      Joined  6/2/2020, 11:58:02 AM
5           AbdAllah        Left  6/2/2020, 12:27:10 PM
6           AbdAllah      Joined  6/2/2020, 12:55:44 PM
7             Saleem      Joined  6/2/2020, 11:58:24 AM
8              Ammar      Joined  6/2/2020, 11:59:01 AM
9              Ammar        Left  6/2/2020, 12:14:48 PM
10             Ammar      Joined  6/2/2020, 12:15:05 PM
11             Ammar        Left  6/2/2020, 12:17:44 PM
12             Ammar      Joined  6/2/2020, 12:18:25 PM
13             Ammar        Left  6/2/2020, 12:19:14 PM
14             Ammar      Joined  6/2/2020, 12:55:48 PM
15            Mu'taz      Joined  6/2/2020, 11:59:13 AM
16            Mu'taz        Left   6/2/2020, 1:02:00 PM
17            Mu'taz      Joined   6/2/2020, 1:51:05 PM
18            Mu'taz        Left   6/2/2020, 1:53:06 PM
19     Khalid Waleed      Joined  6/2/2020, 12:00:19 PM
20     Khalid Waleed        Left  6/2/2020, 12:14:43 PM
21     Khalid Waleed      Joined  6/2/2020, 12:14:50 PM
22     Khalid Waleed        Left  6/2/2020, 12:55:53 PM
23     Khalid Waleed      Joined  6/2/2020, 12:56:02 PM
24            Obadah      Joined  6/2/2020, 12:00:21 PM
25            Obadah        Left   6/2/2020, 1:31:30 PM
26           Mahmoud      Joined  6/2/2020, 12:00:27 PM
27           Mahmoud        Left  6/2/2020, 12:01:24 PM
28           Mahmoud      Joined  6/2/2020, 12:04:11 PM
29           Mahmoud        Left  6/2/2020, 12:08:48 PM
30    Abdulsalam ali      Joined  6/2/2020, 12:00:29 PM
31    Abdulsalam ali        Left  6/2/2020, 12:34:47 PM
32    Abdulsalam ali      Joined  6/2/2020, 12:50:33 PM
33    Abdulsalam ali        Left   6/2/2020, 1:23:49 PM
34    Abdulsalam ali      Joined   6/2/2020, 1:48:03 PM
35            yazeed      Joined  6/2/2020, 12:00:32 PM
36            yazeed        Left  6/2/2020, 12:01:33 PM
37            yazeed      Joined  6/2/2020, 12:07:56 PM
38   Sanabel Jaafreh      Joined  6/2/2020, 12:01:04 PM
39   Sanabel Jaafreh        Left  6/2/2020, 12:18:04 PM
40   Sanabel Jaafreh      Joined  6/2/2020, 12:37:06 PM
41   Sanabel Jaafreh        Left   6/2/2020, 1:07:29 PM
42   Sanabel Jaafreh      Joined   6/2/2020, 1:07:44 PM
43           Ibrahim      Joined  6/2/2020, 12:04:10 PM
44             ammar      Joined  6/2/2020, 12:17:17 PM
45             ammar        Left  6/2/2020, 12:19:36 PM
46             ammar      Joined  6/2/2020, 12:19:39 PM
47             Ahmed      Joined  6/2/2020, 12:25:34 PM
48             Ahmed        Left  6/2/2020, 12:25:35 PM
49             Ahmed      Joined  6/2/2020, 12:51:06 PM>

In [82]:
df.describe()

       Full Name User Action              Timestamp
count         50          50                     50
unique        17           2                     50
top        Ammar      Joined  6/2/2020, 12:25:35 PM
freq           7          32                      1